....................
....................
....................
.Z.Z.Z.Z.Z.Z.Z.Z.Z..
.Z.Z.Z.Z.Z.Z.Z.Z.Z..
.Z.Z.Z.Z.Z.Z.Z.Z.Z..
....................
....................
....................
....................
....................
....................
....................
....................
..P.................
....................
....................
....................
....................
.CCCC...............
