ZZZZZZZZ...ZZZ......
..Z..........Z.E....
..Z..........Z......
..Z..........ZZZZZ..
..H.........ZZ...Z..
..Z.E.......Z....Z..
..Z.........Z....H..
ZZZZZZZZZ...ZZZ..Z..
......Z.......Z..Z..
......Z.......Z..ZZZ
...E..Z.......Z...Z.
......Z......ZZ...Z.
ZZZZZZZZZZZZZZ....Z.
........HZ.....E..Z.
.........Z........Z.
..G......S........Z.
.........Z........Z.
.........ZZZZH....Z.
.P.......ZE..Z....Z.
.........Z...Z....Z.
