SSSS....ZZHZZ...S...
SZZSE...Z...Z...S.P.
SGZS....Z.E.Z..ES...
SZZS....Z...Z...S...
SZZS....Z...Z...S...
SSSS............S...
.........E......S...
................S...
................SSSS
.............Z......
....ZZ......Z.Z....E
....ZZ.....Z.H.Z....
...ESSE....Z.H.Z....
....SS......Z.Z.....
.ZSSHHSSZ....Z......
.ZSSHHSSZ...........
...ESSE......E.ZZZZZ
....SS..............
....ZZ...........E..
....ZZ..............
