.ZZZZZZZZZZZ........
.Z..E..HZ......E....
.Z......Z...........
.Z......Z....ZZZZZ..
.Z......Z...ZZ.H.Z.G
.ZZZSSZZZSSSZZZZZZZZ
.E............E....Z
...................S
.E............E....Z
...................S
ZZSSZZZZZZZZZZZZZZZZ
ZZSSZZH.............
ZZSSZZZZZZZZZZZZZZZH
.........Z........Z.
.....E...Z...E....Z.
.........Z........Z.
.........Z...E....Z.
ZZZSSSZZZZ........H.
.P......EZ...E....ZS
.........Z........ZZ
