....................
....................
.........SSSSSSSS...
....................
..SSSSSS.SSSSSSSS...
...........E........
....BB...BBBBBBSS...
....................
..........S.S.SSSL..
..SSSSSSR..S.S......
...E......S.S.SSS...
..BBBBBB............
....................
.........U..........
.........R..........
....................
....................
.P.E...........E..F.
CCCCCCCCCCCCCCCCCCCC
GGGGGGGGGGGGGGGGGGGG
