....................
..........SSSS......
.................L..
..L.......SSSS......
SS..SSS.....E.F.....
..........GGGGGG....
SS..SSS.............
.....E...........B..
BB..BBB.R.L.W....SSS
....................
......SSS....SSSSBB.
.......E......E.....
..R.S.BBB..R.BBBB...
....................
....B........WWW....
...........B........
...................L
...SSSSSSS....SSSSS.
.P.....E..BBB..E....
BBBBBBCCCCBBBCCCCCBB
