....................
....................
SSSSSS...SSSSSS.....
........W...........
SSSSSS...SSSSSS...F.
..E..............BBB
BBBBB.........R..GGG
GGGGG...............
.......R.........SSS
....................
.........SSSSSSR.SSS
.....R..............
.........SSSSSS..SSS
...........E........
.........BBBBBB..SSS
....................
.......R....L....SS.
................E..B
.P.......E...BBBBBBB
GGGCCCCGGGGGGBBBBCCC
